body {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: rgb(46, 63, 87);
}

th:not(:last-child) {
    border-right: solid 2px #D2D9E7;
}

/* td, th{
    height: 38px !important;
} */

/* scrollbar styles for firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #dde3e8 transparent !important;
}

/* scrollbar styles for rest of the browsers */

*::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #dde3e8;
  border-radius: 40px;
  border: 4px solid #ffffff;
}

.form-builder::-webkit-scrollbar-thumb {
  border: 8px solid #ffffff;
  border-radius: 40px;
  width: 23px;
}

tbody tr:nth-child(odd) {
  background-color: #F3F5F8;
}

tbody tr:hover{
  cursor: pointer;
  border-top: solid 2px #D2D9E7;
  border-bottom:  solid 2px #D2D9E7;
}

#table__view-record:hover {
  filter: brightness(1.2);
}

#table__view-record-cell{
  width: 150px;
  min-width: 144px;
}